<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="iocAssemblyConfiguration" type="IoC.IoCAssemblyRegistration, IoC" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
	</configSections>
	<iocAssemblyConfiguration>
		<assemblies>
			<add assembly="IoCTest"/>
		</assemblies>
	</iocAssemblyConfiguration>
</configuration>